--Valida Estrutura de Tabela entre Dbs
USE [database]
GO

SELECT * FROM sys.databases
ORDER BY name

SELECT [TABLE_NAME],COLUMN_NAME,DATA_TYPE, COLLATION_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE [TABLE_NAME] = ''
